<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Edit book</title>
    <link rel="stylesheet" type="text/css" th:href="style.css"/>
    <script th:inline="javascript">
        /*<![CDATA[*/
        var book = /*[[${book}]]*/ 'default';
        var genres = /*[[${book.genres}]]*/ 'default';
        var comments = /*[[${book.bookComments}]]*/ 'default';
        var authors = /*[[${book.authors}]]*/ 'default';
        /*]]>*/
    </script>
    <script src="js/jquery.min.js"></script>
    <script src="js/book/elements/genres/deleteGenreFromBook.js"></script>
    <script src="js/book/elements/genres/genresTable.js"></script>
    <script src="js/book/elements/comments/deleteCommentFromBook.js"></script>
    <script src="js/book/elements/comments/comentsTable.js"></script>
    <script src="js/book/elements/authors/deleteAuthorFromBook.js"></script>
    <script src="js/book/elements/authors/authorsTable.js"></script>
</head>
<body>

<a href="books">Show list of books</a>
<!-- Book edition -->
<form id="edit-form" th:action="@{/book(id=${book.id})}" th:method="post" action="bookEdit.html">
    <h1>Book Info:</h1>

    <div class="row">
        <label for="id-input">ID:</label>
        <input id="id-input" type="text" readonly="readonly" th:value="${book.id}" value="1"/>
    </div>

    <div class="row">
        <label for="holder-input">Title:</label>
        <input id="holder-input" name="title" type="text" th:value="${book.title}" value="Book1"/>
    </div>

    <div class="row">
        <button type="submit" value="Edit book" class="editBook">Edit</button>
    </div>

    <div id="genresDiv">
        <fieldset id="genresFieldset">
            <script>
                markupGenreTable();
            </script>
        </fieldset>
    </div>

    <h2>Genres</h2>
    <div id="divGenresOld">
        <fieldset>
            <table align="left" width="50%" class="blueTable">
                <tr>
                    <th>Genre</th>
                    <th>Action</th>
                </tr>
                <tr th:each="genre, itemStat : ${book.genres}">
                    <td><input type="text" th:field="${book.genres[__${itemStat.index}__].name}"/></td>
                    <td width="5%"><a th:href="@{/delGenreForBook(id=${book.id}, genreNum=${__${itemStat.index}__})}" href="bookEdit.html">Del</a><td>
                </tr>
            </table>
        </fieldset>
    </div>

    <a th:href="@{/newGenreForBook(id=${book.id})}" href="bookEdit.html">Add genre</a>

    <h2>Authors</h2>
    <div id="authorsTableDiv">
        <script>
            markupAuthorsTableForBook();
        </script>
    </div>

    <div id="divAuthorsOld" class=primer>
        <h2>Authors</h2>
        <fieldset>
            <table align="left" width="50%" class="blueTable">
                <tr>
                    <th>Author id</th>
                    <th>Author name</th>
                    <th>Action</th>
                </tr>
                <tr th:each="author, itemStat : ${book.authors}">
                    <td><input type="text" readonly="readonly" th:field="${book.authors[__${itemStat.index}__].id}"/></td>
                    <td><input type="text" readonly="readonly" th:field="${book.authors[__${itemStat.index}__].name}"/></td>
                    <td width="5%"><a th:href="@{/delAuthorFromBook(id=${book.id},authorId=${book.authors[__${itemStat.index}__].id})}" href="bookEdit.html">Del</a><td>
                </tr>
            </table>
        </fieldset>
    </div>

    <a th:href="@{/newAuthorForBook(id=${book.id})}" href="authorEdit.html">Add author</a>

    <h2>Comments</h2>
    <div id="commentsDiv">
        <fieldset id="commentsFieldset">
            <script>
                markupCommentTable();
            </script>
        </fieldset>
    </div>

    <div id="divCommentsOld">
        <fieldset>
            <table align="left" width="50%" class="blueTable">
                <tr>
                    <th>Comment</th>
                    <th>Action</th>
                </tr>
                <tr th:each="comment, itemStat : ${book.bookComments}">
                    <td><input type="text" th:field="${book.bookComments[__${itemStat.index}__].text}"/></td>
                    <td width="5%"><a th:href="@{/delCommentForBook(id=${book.id}, commentNum=${__${itemStat.index}__})}" href="bookEdit.html">Del</a><td>
                </tr>
            </table>
        </fieldset>
    </div>
    <a th:href="@{/newCommentForBook(id=${book.id})}" href="bookEdit.html">Add comment</a>


</form>

</body>
</html>
